@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tefb70');
  src:  url('fonts/icomoon.eot?tefb70#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tefb70') format('truetype'),
    url('fonts/icomoon.woff?tefb70') format('woff'),
    url('fonts/icomoon.svg?tefb70#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e900";
  color: #000;
}
.icon-flexibilidade:before {
  content: "\e901";
  color: #000;
}
.icon-happy-sharing:before {
  content: "\e902";
  color: #000;
}
.icon-icon-sacola:before {
  content: "\e903";
  color: #000;
}
.icon-pagamento .path1:before {
  content: "\e904";
  color: rgb(0, 0, 0);
}
.icon-pagamento .path2:before {
  content: "\e905";
  margin-left: -1.330078125em;
  color: rgb(0, 0, 0);
}
.icon-pagamento .path3:before {
  content: "\e906";
  margin-left: -1.330078125em;
  color: rgb(245, 242, 230);
}
.icon-pagamento .path4:before {
  content: "\e907";
  margin-left: -1.330078125em;
  color: rgb(245, 242, 230);
}
.icon-pagamento .path5:before {
  content: "\e908";
  margin-left: -1.330078125em;
  color: rgb(0, 0, 0);
}
.icon-universal:before {
  content: "\e909";
  color: #000;
}
