@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tefb70');
  src:  url('fonts/icomoon.eot?tefb70#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tefb70') format('truetype'),
    url('fonts/icomoon.woff?tefb70') format('woff'),
    url('fonts/icomoon.svg?tefb70#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e900";
}
.icon-flexibilidade:before {
  content: "\e901";
}
.icon-happy-sharing:before {
  content: "\e902";
}
.icon-icon-sacola:before {
  content: "\e903";
}
.icon-pagamento:before {
  content: "\e904";
}

